<div class="container-fluid">
  <ng4-loading-spinner [threshold]="2000" [timeout]="40000" [loadingText]="'Please wait...'"
                       [zIndex]="9999"></ng4-loading-spinner>
  <table class="table table-hover table-dark mt-5">
    <thead class="h4">
    <tr>
      <th class="text-center">№</th>
      <th class="text-center">Код проекта</th>
      <th class="text-center" style="cursor: pointer" (click)="sort(parameters[0])">Название проекта</th>
      <th class="text-center" style="cursor: pointer" (click)="sort(parameters[1])">Срок сдачи</th>
      <th class="text-center" style="cursor: pointer" (click)="sort(parameters[2])">Степень готовности</th>
      <th class="text-center">Создатель проекта</th>
      <th></th>
    </tr>
    </thead>
    <tbody *ngIf="projects.length>0; then table else void_table;">
    </tbody>
    <ng-template #table>
      <tr *ngFor="let project of projects;let i = index" class="text-center ">
        <td class="h6">{{i + 1}}</td>
        <td class="h6">{{project.projectCode}}</td>
        <td class="h6">{{project.projectName}}</td>
        <td class="h6">{{project.dateOfCompletion | date}}</td>
        <td class="h6">{{project.readinessDegree}}</td>
        <td class="h6"><a
          [routerLink]="['/home',btoa(project.projectCreator.toString()),project.projectCreatorName + ' ' + project.projectCreatorSurname]"
          routerLinkActive="active">
          {{project.projectCreatorSurname}} {{project.projectCreatorName}}</a>
        </td>
        <td>
          <button class="btn btn-primary"
                  [routerLink]="['/projects',btoa(project.idproject.toString()),project.projectName]">Подробнее
          </button>
        </td>
      </tr>
    </ng-template>
  </table>

  <div class="row">
    <div class="col-xs-12 col-12">
      <pagination [boundaryLinks]="true" [totalItems]="countOfPages" class="justify-content-center"
                  previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                  (pageChanged)="pageChanged($event)">
      </pagination>
    </div>
  </div>
  <ng-template #void_table>
    <tr>
      <td colspan="6" class="h3">Нет созданных проектов.</td>
    </tr>
  </ng-template>
</div>
