<div class="container-fluid" style="background-color: navajowhite">
  <div class="row border border-dark ">
    <div class="col-4 " id="userInfo">
      <div class="container-fluid">
        <h1>Данные пользователя</h1>
        <div id="name">
          <h2>Имя:</h2>
          <h4>Name</h4>
        </div>
        <div id="surname">
          <h2>Фамилия:</h2>
          <h4>Name</h4>
        </div>
        <div id="email">
          <h2>Email:</h2>
          <h4>Name</h4>
        </div>
        <div id="role">
          <h2>Должность:</h2>
          <h4>Name</h4>
        </div>
        <div id="assignProject">
          <h2>Выполняемый проект:</h2>
          <h4>Name</h4>
        </div>
        <div class="my-4">
          <button class="btn btn-primary mr-3">Редактировать</button>
          <button class="btn btn-primary">Удалить</button>
        </div>
      </div>
    </div>
    <div class="col-8" id="tasks">
      <h1 class="text-center">Задачи пользователя</h1>
      <div class="container-fluid">
        <table class="table table-hover table-dark">
          <thead>
          <tr>
            <th>#</th>
            <th>Имя задачи</th>
            <th>Код задачи</th>
            <th>Статус</th>
            <th>Приоритет</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>
              <button class="btn btn-primary" [routerLink]="['/task']">More</button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>
              <button class="btn btn-primary" [routerLink]="['/task']">More</button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>
              <button class="btn btn-primary" [routerLink]="['/task']">More</button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>
              <button class="btn btn-primary" [routerLink]="['/task']">More</button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>
              <button class="btn btn-primary" [routerLink]="['/task']">More</button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>
              <button class="btn btn-primary" [routerLink]="['/task']">More</button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>
              <button class="btn btn-primary" [routerLink]="['/task']">More</button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>
              <button class="btn btn-primary" [routerLink]="['/task']">More</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
