<div class="container-fluid" style="background-color: navajowhite">
  <ng4-loading-spinner [threshold]="2000" [timeout]="40000" [loadingText]="'Please wait...'"
                       [zIndex]="9999"></ng4-loading-spinner>
  <div class="row border border-dark ">
    <div class="col-4 " id="userInfo">
      <div class="container-fluid">
        <div *ngIf="!edit;else editTemplate">
          <h1>Данные пользователя</h1>
          <div id="name">
            <h2>Имя:</h2>
            <h4>{{userViewModel.userName}}</h4>
          </div>
          <div id="surname">
            <h2>Фамилия:</h2>
            <h4>{{userViewModel.userSurname}}</h4>
          </div>
          <div id="email">
            <h2>Email:</h2>
            <h4>{{userViewModel.email}}</h4>
          </div>
          <div id="role">
            <h2>Должность:</h2>
            <h4>{{userViewModel.roleName}}</h4>
          </div>
          <div id="assignProject">
            <h2>Выполняемый проект:</h2>
            <h4 *ngIf="userViewModel?.assignProjectName!=null">
              <a [routerLink]="['/projects',btoa(userViewModel?.assignProject?.toString()),
        userViewModel?.assignProjectName]">{{userViewModel.assignProjectName}}</a></h4>
            <h4 *ngIf="userViewModel?.assignProjectName==null">Проект остутствует</h4>
          </div>
        </div>
        <div class="my-4">
          <button class="btn btn-primary mr-3" *ngIf="!edit" (click)="startEdit()">Редактировать</button>
          <button class="btn btn-primary mr-3" *ngIf="edit" [disabled]="userForm.invalid" (click)="save()">Сохранить
          </button>
          <button class="btn btn-primary mr-3" *ngIf="edit" (click)="changeEdit()">Отмена</button>
          <button class="btn btn-primary">Удалить</button>
        </div>
      </div>
    </div>
    <div class="col-8" id="tasks">
      <h1 class="text-center">Задачи пользователя</h1>
      <div class="container-fluid">
        <table class="table table-hover table-dark">
          <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Имя задачи</th>
            <th class="text-center">Код задачи</th>
            <th class="text-center">Статус</th>
            <th class="text-center">Приоритет</th>
            <th class="text-center">Дата создания</th>
            <th class="text-center">Дата сдачи</th>
            <th class="text-center">Создатель задачи</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr  *ngFor="let taskViewModel of taskViewModels; let i = index" >
            <td>{{i + 1}}</td>
            <td>{{taskViewModel.taskName}}</td>
            <td>{{taskViewModel.taskCode}}</td>
            <td>{{taskViewModel.statusName}}</td>
            <td>{{taskViewModel.priorityName}}</td>
            <td>{{taskViewModel.dateOfCreation | date}}</td>
            <td>{{taskViewModel.dueDate | date}}</td>
            <td><a routerLinkActive="active"
                   [routerLink]="['/home',btoa(taskViewModel.taskCreator.toString()),taskViewModel.taskCreatorName + ' ' + taskViewModel.taskCreatorSurname]"
            >{{taskViewModel.taskCreatorName}} {{taskViewModel.taskCreatorSurname}}</a></td>
            <td>
              <button class="btn btn-primary" routerLinkActive="active"
                      [routerLink]="['/tasks',btoa(taskViewModel.idtask.toString()),taskViewModel.taskName]">More
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="row" *ngIf="taskViewModels?.length>0">
          <div style="display: block" class="col">
            <h4>Диаграмма задач по статусу</h4>
            <canvas baseChart
                    [data]="pieData.pieChartData"
                    [labels]="pieData.pieChartLabels"
                    [chartType]="pieData.pieChartType"
                    [colors]="ChartColors"
            ></canvas>
          </div>
          <div style="display: block" class="col">
            <h4>Диаграмма задач по приоритету</h4>
            <canvas baseChart
                    [data]="doughnutData.doughnutChartData"
                    [labels]="doughnutData.doughnutChartLabels"
                    [chartType]="doughnutData.doughnutChartType"
                    [colors]="ChartColors.reverse()">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #editTemplate>
  <div>
    <form [formGroup]="userForm" novalidate>
      <h1>Данные пользователя</h1>
      <label for="userNameInput" class="mt-3 h5">Имя:</label>
      <input type="text" class="form-control" id="userNameInput" formControlName="userName"
             [(ngModel)]="editUserViewModel.userName">
      <div *ngIf="_userName.invalid && (_userName.touched || _userName.dirty)" class="alert alert-danger">
        <p *ngIf="_userName.errors?.required">Обязательное поле</p>
        <p *ngIf="_userName.errors?.minlength">Слишком короткое имя</p>
        <p *ngIf="_userName.errors?.maxlength">Слишком длинное имя</p>
        <p *ngIf="_userName.errors?.pattern">Ошибка введенных данных</p>
      </div>
      <label for="userSurnameInput" class="mt-3 h5">Фамилия пользователя:</label>
      <input type="text" class="form-control" id="userSurnameInput" formControlName="userSurname"
             [(ngModel)]="editUserViewModel.userSurname">
      <div *ngIf="_userSurname.invalid && (_userSurname.touched || _userSurname.dirty)" class="alert alert-danger">
        <p *ngIf="_userSurname.errors?.required">Обязательное поле</p>
        <p *ngIf="_userSurname.errors?.minlength">Слишком короткая фамилия</p>
        <p *ngIf="_userSurname.errors?.maxlength">Слишком длинная фамилия</p>
        <p *ngIf="_userSurname.errors?.pattern">Ошибка введенных данных</p>
      </div>
      <label for="userEmailInput" class="mt-3 h5">Email:</label>
      <input type="email" class="form-control" id="userEmailInput" formControlName="email"
             [(ngModel)]="editUserViewModel.email">
      <div *ngIf="_email.invalid && (_email.touched || _email.dirty)" class="alert alert-danger">
        <p *ngIf="_email.errors?.required">Обязательное поле</p>
        <p *ngIf="_email.errors?.pattern">Ошибка введенных данных</p>
      </div>
      <label for="roleSelect" class="mt-3 h5">Должность:</label>
      <select class="form-control" id="roleSelect" name="roleSelect" formControlName="role"
              [(ngModel)]="editUserViewModel.role">
        <option *ngFor="let role of roles"
                [value]="role.idrole">{{role.role}}</option>
      </select>
      <div *ngIf="_role.invalid && (_role.touched || _role.dirty)" class="alert alert-danger">
        <p *ngIf="_role.errors?.required">Обязательное поле</p>
      </div>
    </form>
    <label for="assignProjectSelect" class="mt-3 h5">Выполняемый проект:</label>
    <select class="form-control" id="assignProjectSelect" name="assignProjectSelect"
            [(ngModel)]="editUserViewModel.assignProject">
      <option *ngFor="let project of projects"
              [value]="project.idproject">{{project.projectName}}</option>
    </select>
  </div>
</ng-template>


<ng-template #noTasks>
  <span>Задачи отсутствуют!</span>
</ng-template>
