<ng4-loading-spinner [threshold]="2000" [timeout]="40000" [loadingText]="'Please wait...'"
                     [zIndex]="9999"></ng4-loading-spinner>
<div class="container-fluid">
  <div class="mt-2">
    <tabset [justified]="true">
      <tab>
        <ng-template tabHeading>
          <div>
            <h2>Информация о проекте</h2>
          </div>
        </ng-template>
        <div class="container mt-5">
          <div *ngIf="!edit;then tabBody1;else editProjectTemplate"></div>
        </div>
        <div class="my-5 text-right">
          <button class="btn btn-primary mr-3"
                  *ngIf="!edit && tokenStorage.isProjectManager()"
                  (click)="startEdit()">Редактировать</button>
          <button class="btn btn-primary mr-3"
                  *ngIf="edit && tokenStorage.isProjectManager()"
                  [disabled]="projectForm.invalid" (click)="save()">Сохранить
          </button>
          <button class="btn btn-primary mr-3"
                  *ngIf="edit"
                  (click)="changeEdit()">Отмена</button>
          <button class="btn btn-primary"
                  *ngIf="tokenStorage.isProjectManager()"
                  (click)="delete(projectViewModel.idproject)">Удалить</button>
        </div>
      </tab>
      <tab>
        <ng-template tabHeading>
          <div>
            <h2>Задачи проекта</h2>
          </div>
        </ng-template>
        <div *ngTemplateOutlet="tabBody2"></div>
      </tab>
    </tabset>
  </div>
</div>


<ng-template #tabBody1>
  <div class="row">
    <div class="col">
      <div>
        <h1>Название проекта:</h1>
        <h2>{{projectViewModel.projectName}}</h2>
      </div>
      <div>
        <h1>Код проекта:</h1>
        <h2>{{projectViewModel.projectCode}}</h2>
      </div>
      <div>
        <h1>Дата завершения:</h1>
        <h2>{{projectViewModel.dateOfCompletion | date}}</h2>
      </div>
      <div>
        <h1>Степень готовности:</h1>
        <h2>{{projectViewModel.readinessDegree}}</h2>
      </div>
      <div>
        <h1>Создатель проекта:</h1>
        <h2><a
          [routerLink]="['/home',btoa(projectViewModel?.projectCreator?.toString()),
        projectViewModel?.projectCreatorName + ' ' + projectViewModel?.projectCreatorSurname]">
          {{projectViewModel.projectCreatorSurname}} {{projectViewModel.projectCreatorName}}
        </a></h2></div>
      <div>
        <h1>Описание проекта:</h1>
        <h3 class="text-justify"><span>{{projectViewModel.description}}</span></h3>
      </div>
    </div>
    <div class="col">
      <div class="container-fluid" *ngIf="taskViewModels.length>0">
        <div style="display: block">
          <h4>Диаграмма задач по статусу</h4>
          <canvas baseChart
                  [data]="pieData.pieChartData"
                  [labels]="pieData.pieChartLabels"
                  [chartType]="pieData.pieChartType"
                  [colors]="ChartColors"
          ></canvas>
        </div>
        <div style="display: block" class="mt-5">
          <h4>Диаграмма задач по приоритету</h4>
          <canvas baseChart
                  [data]="doughnutData.doughnutChartData"
                  [labels]="doughnutData.doughnutChartLabels"
                  [chartType]="doughnutData.doughnutChartType"
                  [colors]="ChartColors.reverse()">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #tabBody2>
  <div class="container-fluid">
    <table class="table table-hover table-dark mt-5">
      <thead class="h4">
      <tr>
        <th class="text-center">Код задачи</th>
        <th>Название задачи</th>
        <th>Приоритет</th>
        <th>Статус</th>
        <th>Дата создания</th>
        <th>Дата выполнения</th>
        <th>Обновлено</th>
        <th>Испонитель</th>
        <th></th>
      </tr>
      </thead>
      <tbody *ngIf="taskViewModels.length>0; then table else void_table;">
      </tbody>
      <ng-template #table>
        <tr *ngFor="let task of taskViewModels " class="text-center ">
          <td class="h6">{{task.taskCode}}</td>
          <td class="h6">{{task.taskName}}</td>
          <td class="h6">{{task.priorityName}}</td>
          <td class="h6">{{task.statusName}}</td>
          <td class="h6">{{task.dateOfCreation | date}}</td>
          <td class="h6">{{task.dueDate | date}}</td>
          <td class="h6">{{task.updated | date }}</td>
          <td class="h6"><a
            [routerLink]="['/home',btoa(task.taskExecutor.toString()),
            task.taskExecutorName + ' ' + task.taskExecutorSurname]"
            routerLinkActive="active"
          >{{task.taskExecutorSurname}} {{task.taskExecutorName}}</a>
          </td>
          <td>
            <button class="btn btn-primary" [routerLink]="['/tasks',btoa(task.idtask.toString()),task.taskName]"
                    routerLinkActive="active">
              Подробнее
            </button>
          </td>
        </tr>
      </ng-template>
    </table>
    <ng-template #void_table>
      <tr>
        <td colspan="6" class="h3">Созданных задач нет.</td>
      </tr>
    </ng-template>
  </div>
</ng-template>


<ng-template #editProjectTemplate>
  <form [formGroup]="projectForm" novalidate>
    <div class="form-group">
      <label for="projectName" class="mt-3 h5">Название проекта:</label>
      <input type="text" class="form-control" id="projectName" formControlName="projectName"
             [(ngModel)]="editProjectViewModel.projectName">
      <div *ngIf="_projectName.invalid && (_projectName.touched || _projectName.dirty)" class="alert alert-danger">
        <p *ngIf="_projectName.errors?.required">Обязательное поле</p>
        <p *ngIf="_projectName.errors?.minlength">Слишком короткое название</p>
        <p *ngIf="_projectName.errors?.maxlength">Слишком длинное название</p>
        <p *ngIf="_projectName.errors?.pattern">Ошибка введенных данных</p>
      </div>
      <label for="projectName" class="mt-3 h5">Код проекта:</label>
      <h4>{{editProjectViewModel.projectCode}}</h4>
      <label for="dateOfCompletion" class="mt-3 h5">Дата сдачи проета:</label>
      <input type="text"
             placeholder="Выберите дату"
             class="form-control"
             id="dateOfCompletion"
             formControlName="dateOfCompletion"
             [(ngModel)]="date"
             bsDatepicker
             [minDate]="minDate"
             [bsConfig]="{
               isAnimated: true,
                dateInputFormat: 'DD.MM.YYYY'}">
      <div *ngIf="_dateOfCompletion.invalid && (_dateOfCompletion.touched || _dateOfCompletion.dirty)"
           class="alert alert-danger">
        <p *ngIf="_dateOfCompletion.errors?.required">Обязательное поле</p>
      </div>
      <label for="description" class="mt-3 h5">Описание проекта</label>
      <textarea type="text" class="form-control" id="description" formControlName="description"
                [(ngModel)]="editProjectViewModel.description"></textarea>
      <div *ngIf="_projectDescription.invalid && (_projectDescription.touched || _projectDescription.dirty)"
           class="alert alert-danger">
        <p *ngIf="_projectDescription.errors?.minlength">Слишком короткое описание</p>
        <p *ngIf="_projectDescription.errors?.maxlength">Слишком длинное описание</p>
      </div>
    </div>
  </form>
</ng-template>
